/* Temporary Styles */
* {
  border: 1px solid red;
  padding: 0;
  margin: 0;
}

/* Header Styles */
h1 {
  text-align: center;
  margin: 25px;
}

.input-button {
  padding: 25px;
}

/* Main Styles */
main {
  display: flex;
  margin-bottom: 100px;
}

/* left side styles */
.left {
  flex: 1 0 500px;
}

/* right side styles */
.right {
  flex: 1 0 500px;
}
